@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Rajdhani:wght@400;700&display=swap");

/* -------Grid Content Design------- */
@import url("component/nav-style.css");
@import url("component/content-style.css");

/* ----Component Design----- */
@import url("component/avatar.css");
@import url("component/alert.css");
@import url("component/badge.on.avatar.css");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/*------------color-variable------------------ */
:root {
  --primary: #1e212d;
  --second: #a4ebf3;
  --third: #e4fbff;
  --fourth: #157b86;
}

.container {
  height: 100vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n c c c c c c c c c";
}
.header {
  grid-area: h;
  background: var(--primary);
  color: var(--second);
  font-family: "Rajdhani", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.nav {
  grid-area: n;
  background-color: var(--second);
}
.content {
  grid-area: c;
  background: var(--third);
}

/*----------------Badge-component--------------*/
.content .component-item--list .badge {
  display: inline-block;
  margin-right: 10px;
}

/* --------Media Q small screen----------------- */
@media screen and (max-width: 670px) {
  .container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto auto;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "n n n n n n n n n n n n"
      "c c c c c c c c c c c c";
  }
  .header {
    height: 80px;
  }
  .header > .heading {
    font-size: 2rem;
    padding-left: 1rem;
  }
  .nav,
  .content {
    border-radius: 0;
  }
}
