.alert {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1rem;
  position: relative;
  background: white;
}
.alert-hr {
  border-top: 0.5px solid rgb(61, 58, 58);
}
.alert__remove--btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.75rem 1rem;
  background-color: inherit;
  border-radius: 10px;
  border: none;
  outline: none;
}
.alert__remove--btn > span:hover,
.alert__remove--btn > span:active {
  font-weight: bold;
  color: rgb(83, 83, 138);
}
