.content {
  padding: 1rem 1rem 0 2rem;
  border-radius: 10px 0 0 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  /* border: 2px solid var(--primary); */
}

.content > .component-item {
  margin-bottom: 10vw;
}

.content > .component-item h2,
.content > .component-item h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/*----------------Badge-component--------------*/
.content .component-item--list .badge-icon,
.content .component-item--list .badge-avatar {
  /* display: inline-block; */
  margin-right: 10px;
}
