.content {
  padding: 1rem 1rem 0 2rem;
  border-radius: 10px 0 0 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  /* border: 2px solid var(--primary); */
}

.content > .component-item {
  margin-bottom: 7vw;
}

.content > .component-item h2,
.content > .component-item h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/* --------code----------- */
.component-item > .component-item__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.75rem;
}
.component-item > .component-item__block > .item__block {
  margin: 0.5rem;
}


.component-item--code{
  background-color: var(--codebg);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.05rem;
  position: relative;
  box-shadow: inset 0 0 10px var(--second);
}
.component-item--code > .htmltext {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: initial;
}
.tag  {
  color: orangered;
}
.classtext {
  color: blue;
}

.content .component-item .description {
  font-weight: 500;
}
/*----------------Badge-component--------------*/
.content .component-item--list .badge-icon,
.content .component-item--list .badge-avatar {
  /* display: inline-block; */
  margin-right: 10px;
}
