.nav {
  border-radius: 0 10px 10px 0;
  /* border: 2px solid var(--primary); */
}


/* ---------------HEADING------------------ */

.container > .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header > .heading {
  font-size: 3rem;
  padding-left: 1rem;
  color: white;
}

.header > .header-logo{
  font-size: 1.25rem;
  margin-left: 1rem;
  border: 2px solid orange;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  color: var(--primary);
  background: white;
  box-shadow: 0px 0px 2px 2px white;
}

/* ----------------------------------------- */
.nav .nav-list {
  position: sticky;
  top: 10px; /*header ht size: 100*/ 
}

/*------------- NAV - ITEM ----------------- */
.nav > .nav-list,
.nav .nav-list__levelOne {
  list-style: none;
}
.nav-component > .component {
  color: var(--fourth);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}
.nav-component > hr {
  border: 1px solid var(--third);
}
 

.nav-list__levelOne > li > a {
  text-decoration: none;
  color: var(--fourth);
  display: block;
    padding: 0.30rem 1rem;
}

.nav-list__levelOne > li > a:hover,
.nav-list__levelOne > li > a:active {
  font-weight: 600; 
  background: var(--third);
}
